$principal-color: #d26c6e;
$secundary-color: #aec521;
$terciario-color: #f6c562;

$color-oscuro: #444a51;

$color-claro: white;

//animacion

$principal-color-hover: rgb(143, 52, 53);
$secundary-color-hover: #778616;
$terciario-color-hover: #a18141;
