@import "../global/variables.scss";

.product-AddOrEdit {
  &__title {
    font-size: 1.8rem;
    color: $color-oscuro;
    text-align: center;
    margin: 25px 0;
    text-transform: uppercase;
  }
  &-form {
    width: 90%;
    margin: 11px auto;
    &-label {
      display: flex;
      align-items: center;
      margin: 15px 0;
      flex-wrap: wrap;
      &__title {
        font-size: 1.2rem;
        margin-right: 15px;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
      }
      &__input {
        width: 50%;
        padding: 10px;
        border: $color-oscuro solid 1px;
        font-size: 1.2rem;
        display: block;
        border-radius: 15px;
        color: $color-oscuro;
        margin-top: 15px;
        margin-left: 10px;
      }
      textarea {
        width: 90%;
        display: block;
        margin-top: 15px;
        margin-left: 5%;
        font-size: 1.5rem;
      }
    }
    &__submit {
      color: $color-claro;
      background-color: $secundary-color;
      border: none;
      display: block;
      width: 50%;
      padding: 10px 0;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 auto;
      border-radius: 15px;
    }
  }
}
