@import "../global/variables.scss";

.admin-products {
  &-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0;
    &__search {
      display: block;
      width: 60%;
      padding: 10px;
      font-size: 1.5rem;
      border-radius: 15px;
      border: $color-oscuro solid 1px;
    }
    &__add {
      text-align: center;
      padding: 10px 0;
      width: 30%;
      background-color: $secundary-color;
      text-decoration: none;
      font-size: 1.2rem;
      border-radius: 15px;
      display: block;
      color: $color-claro;
    }
  }
  &__title {
    text-transform: uppercase;
    margin: 15px 0;
    margin-left: 10px;
    font-size: 1.8rem;
  }
  &-item {
    &-footer {
      width: 90%;
      margin: 10px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__button {
        border: none;
        padding: 10px 0;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        &--icon {
          font-size: 1.5rem;
          margin-right: 15px;
        }
        &--text {
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}
