@import "../global/variables.scss";

.admin-payments {
  &__title {
    font-size: 1.6rem;
    color: $color-oscuro;
    margin-left: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 700;
  }
  &-contain {
    width: 90%;
    margin: 10px auto;
    &-item {
      margin: 15px auto;
      &__image {
        width: 60%;
        margin: 0 auto;
        img {
          width: 90%;
          display: block;
          margin: 0 auto;
        }
      }
      &-information {
        &__title {
          font-size: 1.7rem;
          color: $color-oscuro;
          margin: 10px 0;
          text-align: center;
        }
        &__data {
          font-size: 1.2rem;
          color: $color-oscuro;
          width: 90%;
          margin: 5px auto;
          overflow: scroll;
          font-style: italic;
          text-align: center;
        }
        &__edit {
          background-color: $terciario-color;
          color: $color-claro;
          font-size: 1.4rem;
          padding: 10px 0;
          border: none;
          width: 80%;
          margin: 10px auto;
          display: block;
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .admin-payments {
    &__title {
      font-size: 1.8rem;
      text-align: center;
    }
    &-contain {
      width: 80%;
      &-item {
        &__image {
          width: 40%;
        }
      }
    }
  }
}
@media (min-width: 900px) and (max-width: 1600px) {
  .admin-payments {
    &__title {
      font-size: 2rem;
    }
    &-contain {
      width: 60%;
      &-item {
        &__image {
          width: 30%;
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  .admin-payments {
    &__title {
      font-size: 2.2rem;
    }
    &-contain {
      width: 60%;
      margin: 20px auto;
      &-item {
        margin: 25px auto;
        &__image {
          width: 20%;
        }
        &-information {
          &__title {
            font-size: 1.9rem;
          }
          &__data {
            font-size: 1.4rem;
          }
          &__edit {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
