@import "../global/variables.scss";

.auth {
  background-color: $color-oscuro;
  min-height: 100vh;
  width: 100%;
  padding: 1px;
  &__title {
    color: $color-claro;
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
    font-style: oblique;
    font-weight: 900;
  }
  &-form {
    &-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      margin: 20px auto;
      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: $color-claro;
        border-radius: 100%;
        &__icon {
          font-size: 2.2rem;
          color: $color-oscuro;
        }
      }
      &__input {
        border: none;
        width: 80%;
        padding: 10px 20px;
        border-radius: 15px;
        color: $color-claro;
        background-color: rgba($color-claro, $alpha: 0.2);
        &::placeholder {
          color: $color-oscuro;
        }
      }
    }
    &__forgot {
      font-size: 1.2rem;
      color: $principal-color;
      text-decoration: dotted;
      text-align: center;
      margin: 10px 0;
    }

    &__register {
      font-size: 1.2rem;
      color: $color-claro;
      text-align: center;
      margin: 10px 0;
      &--link {
        color: $terciario-color;
      }
    }
    &__button {
      display: block;
      margin: 20px auto;
      width: 70%;
      padding: 10px 0;
      border: none;
      color: $color-oscuro;
      font-weight: 900;
      border-radius: 15px;
      transition: 1s;
      &:disabled {
        background-color: rgba($color-claro, $alpha: 0.3);
      }
    }
  }
}

@media (min-width: 700px) {
  .auth {
    &__title {
      font-size: 2.2rem;
    }
    &-form {
      &__button {
        width: 50%;
      }
    }
  }
}
@media (min-width: 900px) and (max-width: 1600px) {
  .auth {
    &__title {
      font-size: 2.4rem;
    }
    &-form {
      &-content {
        width: 60%;
      }
      &__forgot {
        font-size: 1.2rem;
      }

      &__register {
        font-size: 1.2rem;
      }
      &__button {
        width: 40%;
      }
    }
  }
}
@media (min-width: 1600px) {
  .auth {
    &__title {
      font-size: 2.6rem;
    }
    &-form {
      &-content {
        width: 50%;
      }
      &__forgot {
        font-size: 1.4rem;
      }

      &__register {
        font-size: 1.4rem;
      }
      &__button {
        width: 30%;
      }
    }
  }
}
