@import "../global/variables.scss";

.my-profile {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: none;
      color: white;
      padding: 5px 0;
      width: 30%;
      margin: 20px 10px;
      display: block;
      font-style: oblique;
      font-weight: 700;
    }
    &__logOut {
      background-color: $principal-color-hover;
    }
    &__admin {
      background-color: $secundary-color;
    }
  }
  &__title {
    text-align: center;
    font-size: 1.7rem;
    margin: 15px 0;
    color: $principal-color;
  }
  &-photo {
    font-size: 7rem;
    display: block;
    width: 20%;
    color: $color-oscuro;
    margin: 0 auto;
  }
  &__fullname {
    text-align: center;
    font-size: 1.2rem;
    color: $color-oscuro;
    margin: 10px 0;
    font-style: oblique;
  }
  &__section {
    margin: 15px 10px;
    font-size: 1.6rem;
  }
  &-table {
    width: 90%;
    margin: 0 auto;
    &-file {
      display: grid;
      grid-template-columns: 20% 30% 50%;
      margin: 15px 0;
      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-oscuro;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        &__icon {
          color: $color-claro;
          font-size: 1.6rem;
        }
      }
      &__key {
        font-size: 1.5rem;
        color: rgba($color-oscuro, $alpha: 0.5);
        margin: auto 0;
      }
      &__value {
        font-size: 1.3rem;
        color: $color-oscuro;
        margin: auto 0;
      }
    }
  }
  &-rentedContain {
    width: 90%;
    margin: 10px auto;
    &-item-info {
      &__paragraph {
        font-size: 1.3rem;
        text-align: center;
        color: $color-oscuro;
        margin: 10px auto;
        padding: 5px;
        border: $color-oscuro solid 1px;
        background-color: gainsboro;
      }
      &__id {
        font-size: 1.3rem;
        text-align: center;
        color: $color-oscuro;
        font-style: italic;
        font-weight: 700;
        margin: 10px 0;
      }
    }
  }
  &-rentalContain {
    width: 90%;
    margin: 10px auto;
    &-item {
      &__finish {
        margin: 10px auto;
        color: $color-oscuro;
        font-weight: 700;
        text-transform: uppercase;
        font-style: italic;
        width: 100%;
      }
    }
  }
  &-not-results {
    color: $color-oscuro;
    margin: 15px 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
@media (min-width: 700px) {
  .my-profile {
    &-header {
      button {
        width: 30%;
      }
    }
  }
}
@media (min-width: 900px) and (max-width: 1600px) {
  .my-profile {
    &-header {
      button {
        width: 20%;
      }
    }
    &__title {
      font-size: 1.9rem;
    }
    &-photo {
      font-size: 8rem;
      width: 20%;
    }
    &__fullname {
      font-size: 1.4rem;
    }
    &__section {
      font-size: 1.8rem;
      margin-bottom: 5%;
      margin-top: 2%;
      margin-left: 10%;
    }
    &-table {
      width: 80%;
    }
    &-rentedContain {
      width: 80%;

      &-item {
        display: flex;
        justify-content: center;
        &-info {
          width: 70%;
          margin-left: 25px;
        }
      }
    }
    &-rentalContain {
      width: 80%;
      &-item {
        display: flex;
        justify-content: center;
        &-info {
          width: 70%;
          margin-left: 25px;
        }
      }
    }
    &-not-results {
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 1600px) {
  .my-profile {
    &-header {
      button {
        width: 15%;
      }
    }
    &__title {
      font-size: 2.2rem;
    }
    &-photo {
      font-size: 9rem;
      width: 20%;
    }
    &__fullname {
      font-size: 1.6rem;
    }
    &__section {
      font-size: 2rem;
    }
    &-table {
      width: 70%;
      &-file {
        &-icon {
          &__icon {
            font-size: 1.8rem;
          }
        }
        &__key {
          font-size: 1.7rem;
        }
        &__value {
          font-size: 1.5rem;
        }
      }
    }
    &-rentedContain {
      width: 70%;

      &-item {
        &-info {
          margin-left: 45px;
          &__paragraph {
            //
            font-size: 1.5rem;
          }
          &__id {
            //
            font-size: 1.5rem;
          }
        }
      }
    }
    &-rentalContain {
      width: 70%;
      &-item {
        &-info {
          margin-left: 45px;
          &__finish {
            //
            font-size: 1.5rem;
          }
        }
      }
    }
    &-not-results {
      font-size: 1.7rem;
    }
  }
}
