@import "../global/variables.scss";

.payment-detail {
  &__title {
    font-size: 1.8rem;
    text-align: center;
    color: $color-oscuro;
    margin: 15px 0;
    font-weight: 700;
  }
  img {
    width: 60%;
    height: auto;
    margin: 5px auto;
    display: block;
  }
  &__section-title {
    font-size: 1.5rem;
    color: $color-oscuro;
    margin: 10px auto;
    margin-left: 10px;
    font-style: oblique;
  }
  &-contain {
    width: 90%;
    margin: 5px auto;
    &-prop {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      &__key {
        border: $color-oscuro solid 1px;
        color: $color-oscuro;
        background-color: gainsboro;
        width: 30%;
        height: 30px;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__input {
        width: 70%;
        height: 30px;
        font-size: 1.1rem;
        padding: 5px;
        border-radius: 0;
        border: $color-oscuro solid 1px;
        border-left: none;
      }
    }
    &__button {
      margin: 15px auto;
      display: block;
      width: 50%;
      color: $color-claro;
      background-color: $terciario-color;
      border: none;
      font-size: 1.2rem;
      padding: 10px 0;
      transition: 1s;
      &:hover {
        background-color: $terciario-color-hover;
      }
    }
  }
}

@media (min-width: 700px) {
  .payment-detail {
    &__title {
      font-size: 2rem;
    }
    img {
      width: 40%;
    }
    &__section-title {
      font-size: 1.5rem;
      margin-left: 20%;
    }
    &-contain {
      width: 60%;
    }
  }
}
@media (min-width: 900px) and (max-width: 1600px) {
  .payment-detail {
    &__title {
      font-size: 2.2rem;
    }
    img {
      width: 30%;
    }
    &__section-title {
      font-size: 1.9rem;
    }
    &-contain {
      width: 50%;
    }
  }
}
@media (min-width: 1600px) {
  .payment-detail {
    &__title {
      font-size: 2.4rem;
    }
    img {
      width: 20%;
    }
    &__section-title {
      font-size: 2.1rem;
    }
    &-contain {
      width: 50%;
      &-prop {
        margin: 10px 0;
        &__key {
          font-size: 1.4rem;
        }
        &__input {
          font-size: 1.3rem;
        }
      }
      &__button {
        font-size: 1.4rem;
      }
    }
  }
}
