@import "../global/variables.scss";
.product-payment {
  &__title {
    color: $color-oscuro;
    text-align: center;
    font-size: 1.8rem;
    margin: 15px 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-product {
    width: 90%;
    margin: 0 auto;
    &__direction {
      font-size: 1.4rem;
      color: $color-oscuro;
      font-style: italic;
      font-weight: 700;
      text-align: center;
    }
  }
  &__subtitle {
    text-align: left;
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-method {
    width: 90%;
    margin: 10px auto;
  }
}
