@import "../global/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  &__icon-left {
    color: $color-oscuro;
    margin-left: 15px;
  }
  &__title {
    color: $color-oscuro;
    font-size: 1.6rem;
    text-align: center;
  }
  &-menu {
    background-color: $principal-color;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: 1s;
    &:hover {
      background-color: $principal-color-hover;
    }
    &-icon {
      color: $color-claro;
    }
  }
}
